<link href="/css/style.css" rel="stylesheet" type="text/css" />

<nav>
    <a href="/getMathInputs">Math</a>
    <a href="/getScienceInputs">Science</a>
    <a href="/getEnglishInputs">English</a>
    <a href="/getSocialStudiesInputs">Social Studies</a>
</nav>
