<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div style="margin-top: 100px;">
            <h1>Thanks for your inputs!</h1>
            <h1>The app will be out soon for your use...</h1>
        </div>
        <%- include("nav") %>
    </body>
</html>